.con{
    height: 100vh;
    width: 100vw;
}

.nav-bar{
    height: 9%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.menu-left, .wrapper-balance, .balance-box, .wrapper-content-lower, .content-menu, .trans-history{
    border-radius: 1.5rem;
}

.bg-primary-zwallet, .balance-box{
    background-color: #6379F4;
}

.footer{
    height: 10%;
    background-color: #6379F4;
}

.change{
    border-left: solid 3px transparent;
    transition: .5s;
}

.change:hover{
    border-left: solid 3px #6474af;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.btn-outline{
    color: white;
    border-color: white;
}



@media screen and (max-width: 768px) {
    .nav-bar{
        background-color: #6379F4!important;
    }

    .balance-box{
        background-color: transparent;
        box-shadow: none!important;
    }

    .wrapper-content-lower{
        height: 90%!important;
    }

    .btn-outline{
            background-color: #EAEDFF;
            color: #6c757d;
        }

    .trans-history{
        background-color: transparent!important;
        box-shadow: none!important;
    }

    .history-lower{
        height: 90%!important;
    }

    .history-upper{
        height: 10%!important;
    }

    .balance-box{
        height: 10%!important;
        width: 80%!important;
        margin: auto;
    }

    .recipient{
        padding: 2rem;
        background-color: white;
        border-radius: 12px;
        box-shadow: ;
    }
    
}
